body{
    margin: 0;
    padding: 0;
}
.landingPage{
    height: 100vh;
    background-image: url("../image/mock_background.jpg");
    background-size: cover;
    filter: brightness(90%);
}

.navbar-brand>img{
    width: 100px;
}

.nav-link{
    color: white !important;
}

.landingPage__navbar{
    display: flex;
    justify-content: space-between;
    background-color:inherit;
}
.landingPage__navbar__logo > img{
    width: 100px;
}

.landingPage__navbar__logo--padding{
    padding: 20px;
}

.landingPage__navbar__option{
    display: flex;
    justify-content: space-around;
}

.landingPage__navbar__option--textColor{
    color: white;
}

.landingPage__centerItem{
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__option--padding{
    padding: 20px;
}

.landingPage__centerItem__container{
    position: absolute !important;
    text-align: center;
}

.landingPage__centerItem__container__button{
    text-align: center;
    padding: 20px;
}

.landingPage__centerItem__container__logo>img{
    width: 90%;
    max-width: 533;
}

.landingPage__centerItem__container__button--mod{
    color: white;
    padding:10px 30px;
    background-color:#86bc42;
    border-radius: 50px;
    border:none;
    box-shadow: 10px 10px 2 0px black;
}

.welcomePage{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.welcomePage__pageContainer{
    width: 80%;
    text-align: center;
}

.welcomePage__pageContainer__header{
    padding: 20px 0;
}

.welcomePage__pageContainer__deck{
    display: flex;
}

.welcomePage__pageContainer__deck__card{
    padding: 20px;
    transition : transform 2s, box-shadow 2s;
}

.welcomePage__pageContainer__deck__card:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 2px black;
}

.welcomePage__pageContainer__deck__card__image>img{
    width: 100px;
    border-radius: 100%;
}

#contact-us {
    min-height: 100vh;
    width: 100%;
    display: flex;
    color: whitesmoke;
    align-items: center;
    background-color: #3b3b3b
}
#contact-us > .row {
    width: 100%;
}
.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__info {

}
.aboutPage{
    height: 100vh;
}

.aboutPage__header{
    text-align: center;
    padding:20px 0;
}

.aboutPage__content__logo{
    text-align: center;
    
}

.aboutPage__content__logo>img{
    width: 100%;
    max-width: 533px;
    margin-top: 100px;
}

.aboutPage__content{
    margin-top: 50px;
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    .aboutPage__content__logo>img{
        margin-top: 0;
    }
    .aboutPage__content{
        margin-top: 0;
    }
}